PORT=3000
DB_USER=
DB_PASSWORD=
DB_SERVER=localhost
DB_DATABASE=ChallengeDB
DB_PORT=1433
# Poner en 'true' si usas Azure SQL o una conexión encriptada
DB_ENCRYPT=false

DB_BATCH_SIZE=1000
DB_MAX_QUEUE_SIZE=5

LOG_LEVEL=info
